* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(135deg, tomato 10%, #F6416C 100%);
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #fff;
}


.all {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "form search"
        "form list";

    @media (max-width: $bpMobile) {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "form"
            "search"
            "list";
        height: auto;
    }
}