.form {
    grid-area: form;
    font-family: sans-serif;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0 6.7px 5.3px rgba(0, 0, 0, 0.028),
        0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 22.3px 17.9px rgba(0, 0, 0, 0.042),
        0 41.8px 33.4px rgba(0, 0, 0, 0.05),
        0 100px 80px rgba(0, 0, 0, 0.07);
    padding: 2rem;
    background: #fff;

    @media (max-width: 600px) {
        padding: 1rem;
    }
}

.form-row {
    margin-bottom: 1rem;
}

.form-row-last {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
}

.form-label {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
    color: #777;
    font-size: 0.9rem;
}

.form-control {
    padding: 0 1rem;
    height: 3rem;
    width: 100%;
    border: 1px solid #aaa;
    margin-bottom: 0.5rem;
    font-family: inherit;
    border-radius: 3px;
}

.form-control-textarea {
    height: 10rem;
    padding: 1rem;
    resize: vertical;
}